<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game.css" />
    <title>Fruit Rate</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="warning">
        <img src="../png/board.png" alt="board" class="board" />

        <img src="../png/line.png" alt="line" class="line"/>
        <div class="outcome"></div>
        <img src="../png/stars.png" alt="stars" class="stars" />
        <div class="reward"></div>
        <img src="../png/button_ok.png" alt="button" class="again" />
      </div>

      <a href="./main.html" class="home">
        <img src="../png/home.png" alt="home" />
      </a>

      <div class="balance_field">
        <img src="../png/balance.png" alt="pic" />
        <div class="balance"></div>
      </div>

      <div class="side"></div>
      <div class="field"></div>

      <img src="../png/spin.png" alt="spin" class="spin" />

      <div class="footer block">
        <img src="../png/board_arrow.png" alt="arrow" class="minus" />
        <div class="bet_amount_cont block">
          <div class="text">BET</div>
          <div class="bet_amount">0</div>
        </div>
        <img src="../png/board_arrow.png" alt="arrow" class="plus" />
      </div>
    </div>
    <script src="../scripts/game.js" type="module"></script>
  </body>
</html>
