@font-face {
  font-family: "Lilita";
  src: url("../fonts/lilitaonerus.ttf");
}

body {
  background-image: url("../png/back.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 360px;

  font-family: "Lilita";
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-align: center;

  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}

.hidden {
  opacity: 0;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
}

